<h5>
  <span>No. <%= @knowledge.id %></span><br/>
  <span> Created at: <%= @knowledge.created_at %> </span>
</h5>
<br/>
<br/>

<h1><%= @knowledge.title %></h1>
<h2><%= @knowledge.description %></h2>
<h3 class="float-right">-<%= @knowledge.written_by %></h3>

<br/>
<br/>
<br/>
<br/>