<!DOCTYPE html>
<html>
  <head>
    <title>Knowledgeup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class= "col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
        <br />
        Always
        <br />
        Sharing
        <br />
        Knowledge
        </div>
      <% end %>
      </div>
      <div class="col col-sm-4 hidden-xs-down slogan">
        gearing up knowledge, through reading and writing!
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
         <%= link_to 'Share', '#', data: {toggle: 'modal', target: '#myModal'} %>
         &nbsp;&nbsp;
        <%= link_to 'About', about_path %>
      </div>

    </header>
      <!-- Button trigger modal -->
   

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">share your knowledge</h4>
          </div>
          <%= simple_form_for Knowledge.new do |f| %>
          <div class="modal-body">
            
            <%= f.input :title, placeholder: "what do you want to write about? type your title" %>
            <br />
            <%= f.input :description, placeholder: "write about your topic" %>
            <br />
            <%= f.input :written_by %>
            <br />
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Create', class: 'btn btn-danger' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    <hr />
    <br class="clear" />
    
  <div class="container">
     <% if flash[:error].present? %>
       <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
      <%= yield %>
  </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div clas="col-12 col-sm-6">
            <%= link_to "This is not enough, I want more!", root_path, class: "next-tip" %>
          </div>
          <div class="col-12 col-sm-6 footer-text">Created by Mehdi</p>
        </div>
      </div>
    </div>


  </body>
</html>
