<!DOCTYPE html>
<html>
  <head>
    <title>Knowledgeup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class= "col-3">
        <div class="circle">
        <br />
        Always
        <br />
        Sharing
        <br />
        Knowledge
        </div>
      </div>
      <div class="col-4 slogan">
        Always Sharing Knowledge 
      </div>
      <div class="col-5 links">
        <%= link_to 'Share', '#' %>
        <%= link_to 'About', '#' %>
      </div>

    </header>
    <hr />
    <br class="clear" />
    
    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div clas="col-6">
            <%= link_to "This is not enough, I want more!", "#", class: "next-tip" %>
          </div>
          <div class="col-6 footer-text">Created by Mehdi</p>
        </div>
      </div>
    </div>


  </body>
</html>
