<!DOCTYPE html>
<html>
  <head>
    <title>Knowledgeup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class= "col-3">
        Logo
      </div>
      <div clas="col-4">
        Always Sharing Knowledge 
      </div>
      <div class="col-5">
        <%= link_to 'Share', '#' %>
        <%= link_to 'About', '#' %>
      </div>


    </header>
    <%= yield %>
  </body>
</html>
